@font-face {
  font-family: "digicons";
  src: url("fonts/digicons.eot?vgidpp");
  src: url("fonts/digicons.eot?vgidpp#iefix") format("embedded-opentype"),
    url("fonts/digicons.ttf?vgidpp") format("truetype"),
    url("fonts/digicons.woff2?vgidpp") format("woff2"),
    url("fonts/digicons.woff?vgidpp") format("woff"),
    url("fonts/digicons.svg?vgidpp#digicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "digicons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-down:before {
  content: "\e900";
}
.i-arrow-left:before {
  content: "\e901";
}
.i-arrow-right:before {
  content: "\e902";
}
.i-arrow-up:before {
  content: "\e903";
}
.i-behance:before {
  content: "\e904";
}
.i-check:before {
  content: "\e905";
}
.i-close:before {
  content: "\e906";
}
.i-code:before {
  content: "\e907";
}
.i-dribbble:before {
  content: "\e908";
}
.i-github:before {
  content: "\e909";
}
.i-instagram:before {
  content: "\e90a";
}
.i-link:before {
  content: "\e90b";
}
.i-menu:before {
  content: "\e90c";
}
.i-moon:before {
  content: "\e90d";
}
.i-note:before {
  content: "\e90e";
}
.i-qiita:before {
  content: "\e90f";
}
.i-react:before {
  content: "\e910";
}
.i-search:before {
  content: "\e911";
}
.i-sun:before {
  content: "\e912";
}
.i-twitter:before {
  content: "\e913";
}
.i-vue:before {
  content: "\e914";
}
.i-wantendly:before {
  content: "\e915";
}
.i-zenn:before {
  content: "\e916";
}
